html
  head
    title 
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" href="style.min.css")
    
  body.container-fluid
    nav
      .navbar
        .nav-header
          i(class="fa fa-times fa-2x menubtn" aria-hidden="true")
        .nav-body  
          h2.logo(href="http://www.avans.nl/") Avans Hogeschool
          h2 Informatica
          .divider
          ul
            li.nav-item
              a(href="#") 
                i(class="fa fa-home fa-fw" aria-hidden="true") 
                span Hoofdpagina
            li.nav-item
              a(href="#") 
                i(class="fa fa-info-circle fa-fw" aria-hidden="true") 
                span Over
            li.nav-item
              a(href="#") 
                i(class="fa fa-graduation-cap fa-fw" aria-hidden="true") 
                span Wat leer ik?
            li.nav-item
              a(href="#")
                i(class="fa fa-pie-chart fa-fw" aria-hidden="true") 
                span Leerjaren
            li.nav-item
              a(href="#") 
                i(class="fa fa-briefcase fa-fw" aria-hidden="true") 
                span Beroepsprofielen
            li.nav-item
              a(href="#") 
                i(class="fa fa-star fa-fw" aria-hidden="true") 
                span Studiepunten
            li.nav-item
              a(href="#")
                i(class="fa fa-question-circle fa-fw" aria-hidden="true")
                span FAQ
            li.nav-item
              a(href="#") 
                i(class="fa fa-user fa-fw" aria-hidden="true") 
                span Contact
      .overlay
    .home-wrapper
    header.row
      .nav-menu.col-md-12
        .menubtn
          i(class="fa fa-bars fa-2x" aria-hidden="true")
        a.homelink(href="index.html") Informatica
    
    
    .scripts
      script(src="https://use.fontawesome.com/82381d76d8.js")
      script(src="http://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
      script(src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js", integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=", crossorigin="anonymous")
      script(src="js/common.min.js")
      script(src="css/1-tools/bootstrap/js/bootstrap.min.js")
