html
  head
    title Informatica | Duoopdracht
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" href="style.min.css")
    script(src="http://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
    script(src="js/pace.min.js")
    
  body
    nav
      .navbar
        .nav-header
          i(class="fa fa-times fa-2x menubtn" aria-hidden="true")
        .nav-body  
          h2.logo Avans Hogeschool
          h2 Informatica
          .divider
          ul
            li.nav-item
              a(href="#intro") 
                i(class="fa fa-home fa-fw" aria-hidden="true") 
                span Intro
            li.nav-item
              a(href="#over") 
                i(class="fa fa-info fa-fw" aria-hidden="true") 
                span Over
            li.nav-item
              a(href="#leren") 
                i(class="fa fa-graduation-cap fa-fw" aria-hidden="true") 
                span Wat leer ik?
            li.nav-item
              a(href="#leerjaren")
                i(class="fa fa-pie-chart fa-fw" aria-hidden="true") 
                span Leerjaren
            li.nav-item
              a(href="#beroepsprofielen") 
                i(class="fa fa-briefcase fa-fw" aria-hidden="true") 
                span Beroepsprofielen
            li.nav-item
              a(href="#toelatingeisen") 
                i(class="fa fa-check fa-fw" aria-hidden="true") 
                span Toelatingseisen
            li.nav-item
              a(href="#studiepunten") 
                i(class="fa fa-star fa-fw" aria-hidden="true") 
                span Studiepunten
            li.nav-item
              a(href="#contact") 
                i(class="fa fa-user fa-fw" aria-hidden="true") 
                span Contact
      .overlay
    header.container-fluid.affix.affix-top
      .row
        .nav-menu.col-md-12
          .menubtn
            i(class="fa fa-bars fa-2x" aria-hidden="true")
          span Informatica
    div(id="intro" class="carousel slide hero-image" data-ride="carousel")
      ol(class="carousel-indicators")
        li(data-target="#intro" data-slide-to="0" class="active")
        li(data-target="#intro" data-slide-to="1")
        li(data-target="#intro" data-slide-to="2")
      div(class="carousel-inner" role="listbox")
        div(class="item active")
          img(src="img/avans1.png" alt="Avans Hogeschool 1")
        div(class="item")
          img(src="img/avans2.png" alt="Avans Hogeschool 2")
        div(class="item")
          img(src="img/avans3.png" alt="Avans Hogeschool 3")
        .hero-text
          h1 Informatica
          h3 Een opleiding voor jou?
    .container-fluid.page-wrapper
      section.row#over
        .col-md-12.subject-thumb
          article
            h2 Over informatica
            p Informatica is een vrij nieuw en zeer snel ontwikkelend wetenschapsgebied met een enorm grote invloed in onze samenleving. Informatica zorgt door het maken van applicaties en software ervoor dat problemen of vraagstukken in de moderne wereld opgelost worden. 
            p Een gevolg van deze snelle ontwikkelingen in dit gebied zijn de vele richtingen binnen het informatica werkgebied. Daarnaast is met het toenemende aantal elektronische apparaten, bij zowel consumenten als bedrijven, de vraag naar programmeurs enorm gestegen in de laatste jaren.
      section.row#leren
          article.subject-thumb#parralaxitem1
            h2 Wat leer ik op deze opleiding?
            p In het eerste jaar van de opleiding leer je vooral basisvaardigheden. Zo maak je kennis met verschillende aspecten van het ICT werkveld. Dit komt vooral terug in de vorm van het programmeren met Java, maar ook onderwerpen als 'Webdesign', 'App Development' en kleinere vakken zoals 'Bedrijfsprocessen' worden behandeld. 
            p Verder zal in de loop der tijd het aantal vakken afnemen, zal je meer in groepsverband moeten werken en meer gaan specialiseren. Verder ga je door stage meer met het beroepenveld van informatica in contact komen.
            p Tot slot ga je in de rest van de jaren, 'het verdiepende deel van de opleiding', vooral zelfstandig aan het werk. Hierbij ga je veel breder en dieper in op de stof van de vakken. Programmeertalen en technologieën staan hier meer centraal. Je leert in dit deel dan ook een onderzoekende houding aan te nemen. Aan het einde zou je klaar moeten zijn om je stage (in het 3<sup>e</sup> en 4<sup>e</sup> jaar) succesvol te kunnen uitvoeren.
      section.row#leerjaren 
        .col-md-12.subject-thumb
          article
            h2 De verdeling: leerjaren
            p De opleiding is ingedeeld in 4 jaar met elk 4 perioden. In het volgende schema is weergeven welke onderwerpen er per periode(s) globaal behandeld worden in deze 4 jaar.
            p Daarnaast worden de vakken 'Programmeren' en 'Studieloopbaanontwikkeling' (SLB) het hele 1<sup>e</sup> jaar gegeven. Ook is er in het eerste half jaar van het 4<sup>e</sup> jaar de mogelijkheid van een 'Minor'. Dit kan bijv. een verkorte versie van een andere opleiding, eventueel op een andere school, die je dat half jaar volgt. Zo kun je jezelf verder ontwikkelen en specialiseren.
        .col-md-12.leerjaren
          .table-responsive
            table.table
              tr 
                th Leerjaar
                th Periode 1
                th Periode 2
                th Periode 3
                th Periode 4
              tr
                td Jaar 1
                td Progammeren - Basis van Java, Webdesign, Relationele Databases, Bedrijfsprocessen & enkele softskill* vakken
                td Nieuwe softskill* vakken, Progammeren en Relationele Databases
                td Onderzoeksvaardigheden, Software en project gerichte vakken
                td Computernetwerken & Project Software Engineering
              tr
                td Jaar 2
                td Server-side & Web Development
                td Client-side & Web Development
                td Business Intelligence
                td Computernetwerken
              tr
                td Jaar 3
                td Praktijk stage
                td 
                td Enterprise Architecture & Applicatie-integratie
                td
              tr
                td Jaar 4
                td Minor
                td
                td Afstudeerstage
                td
            small * Softskill vakken zijn wat minder grote vakken. Denk hierbij aan interviewtechnieken, schrijvaardigheid, engels, beroepsoriëntatie etc.
             
      section.row#beroepsprofielen  
        .col-md-12.subject-thumb
          article 
            h2 Beroepen, kijkje in de toekomst
            p Na het behalen van je diploma kun je tegenwoordig bijna altijd direct aan het werk. Je kunt in de ICT-branche gaan werken, of een soortgelijke branche waar computers centraal staan. Hierin zal je vooral aan de slag gaan met softwareontwikkelingen die je hebt gehad tijdens je studie (en stage).
            
            p Hieronder staat een schema met enkele banen die je kan beoefenen met een diploma op zak. Hierbij is het salaris slechts een schatting. Dit, doordat het van veel factoren afhangt. Denk hierbij aan: werkgevers, functies, ervaring (in jaren) etc.

        .col-md-12.beroep
          .table-responsive
            table.table.table-bordered
              tr 
                th Functie
                th Korte Beschrijving
                th Geschatte bruto inkomen (per maand)
              tr
                td Software Engineer
                td Een software engineer zet een vraag of probleem om tot een computerprogramma. De variatie bevind zich in zowel de opdracht als de programmeertaal. 
                td Tussen de €2.000,- en €4.000,-
              tr
                td Informatieanalist
                td Als informatieanalist, analyseer je een bedrijfsproces. Hierdoor kan je verandering aanbrengen om een bedrijf efficiënter te laten werken.
                td Tussen de €2.000,- en €3.000,-
              tr
                td Java Programmeur 
                td Als Java programmeur houd je je (alleen) bezig met het programmeren van software d.m.v. Java. Hoe meer je je hierin specialiseert, hoe hoger je inkomen zal worden.
                td Tussen de €3.000,- en €5.000,-
              tr
                td ICT-consultant
                td Bij deze baan informeer je bedrijven over hoe zij, d.m.v. I(C)T, bedrijfsdoelstellingen kunnen behalen.
                td Tussen de €3.000,- en €4.000,-
              tr
                td App Developer
                td Op aanvraag van een klant maak je je een mobiele applicatie. Het kenmerkende verschil met andere banen is dat je hier (bijna alleen) software maakt voor mobiele telefoons.
                td Tussen de €3.000,- en €4.000,-
              tr
                td Webdeveloper (Front- & Back-End Developer)
                td Als webdeveloper maak je (bijna alleen) websites. Dit kan visueel (front-end), maar zal na een informatica opleiding vooral op programmeren (back-end) gericht zijn.
                td Tussen de €2.000,- en €3.000,-
      section.row#toelatingeisen
        .col-md-12.subject-thumb
          article
            h2 Toelatingeisen
            p De toelatingseisen voor deze opleiding zijn niet erg streng. Je moet in het bezit zijn een havo- of vwo-diploma. Hierbij maakt het niet uit welk profiel je hebt en er zijn geen extra vakken nodig. 
            p Wanneer je een mbo-opleiding voor deze opleiding hebt afgerond wordt er gekeken of deze vorige opleiding voldoende aansluit op de huidige informatica opleiding. Daarnaast moet je ook een positief advies ontvangen na het maken van de studiekeuzecheck van 
              strong Avans Hogeschool. 
      section.row#avans
        a.logo(href="http://www.avans.nl/") 
          img(src="img/avans.png")
            
      section.row#studiepunten
        .col-md-12.subject-thumb
          article
            h2 Studiepunten
            p Een studiepunt is een waarde waarmee de zwaarte van een opleiding (of een vak) wordt bepaald. De punten worden verdeeld onder de vakken, wanneer een vak veel tijd kost zal dit meer studiepunten opleveren dan andere vakken. De studiepunten zijn in de meeste gevallen te behalen door aanwezig te zijn in de les, opdrachten te maken en een goed cijfer te halen voor je tentamen of (praktische) (project)opdrachten.  
            
            p Er is een minimum aantal studiepunten vastgesteld waaraan een student moet voldoen om het eerste jaar te halen. Het minimum is <mark>52 studiepunten</mark> met een maximaal van 60. Bij het behalen van 60 studiepunten is een student ook meteen in het bezit van een propedeuse. 
            
            p Een propedeus is een soort diploma voor het volledig beheersen van de basisvaardigheden d.m.v. het behalen van de genoemde 60 studiepunten. Hiermee kun je bijvoorbeeld en WO-opleiding van informatica gaan volgen aan een universiteit.
            
    footer.container-fluid
      .row#contact
        .col-md-12
          article
            h2 Contact
            b Dit eindproject is bedoeld als afsluiting voor zowel de vakken webdesign als Studeren op het HBO. Hierbij worden beiden vakken getoetst doormiddel van deze website. Daarnaast valt de gehele opdracht (met de hierbij behorende vakken) in het kader van de opleiding informatica aan Avans te Breda.
            h3 Deze is gemaakt door:
          .col-md-6
            .profile-pic#sven
            h3 Sven Westerlaken
            
            .about-item
              h4 <i class="fa fa-user" aria-hidden="true"></i> Studentennummer
              span 2110540
            
            .about-item
              h4 <i class="fa fa-envelope" aria-hidden="true"></i> Email
              a(href="mailto:&#115;&#103;&#097;&#119;&#101;&#115;&#116;&#101;&#064;&#097;&#118;&#097;&#110;&#115;&#046;&#110;&#108;") &#115;&#103;&#097;&#119;&#101;&#115;&#116;&#101;&#064;&#097;&#118;&#097;&#110;&#115;&#046;&#110;&#108;
            
            .about-item
              h4 <i class="fa fa-graduation-cap" aria-hidden="true"></i> Klas
              span 23IVT1C
              
          .col-md-6
            .profile-pic#cas
            h3 Cas De Pender
            
            .about-item
              h4 <i class="fa fa-user" aria-hidden="true"></i> Studentennummer
              span 2108576
            
            .about-item  
              h4 <i class="fa fa-envelope" aria-hidden="true"></i> Email
              a(href="mailto:&#099;&#099;&#112;&#101;&#110;&#100;&#101;&#114;&#064;&#097;&#118;&#097;&#110;&#115;&#046;&#110;&#108;") &#099;&#099;&#112;&#101;&#110;&#100;&#101;&#114;&#064;&#097;&#118;&#097;&#110;&#115;&#046;&#110;&#108;
            
            .about-item
              h4 <i class="fa fa-graduation-cap" aria-hidden="true"></i> Klas
              span 23IVT1C
    .scripts
      script(src="https://use.fontawesome.com/82381d76d8.js")
      script(src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js", integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=", crossorigin="anonymous")
      script(src="js/common.min.js")
      script(src="css/1-tools/bootstrap/js/bootstrap.min.js")
